<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - ¿Who Knows?</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="page">
        <div class="navigation">
            <nav>
                <h1><a id="nav-logo" href="/">¿Who Knows?</a></h1>
                <a id="nav-login" href="/login">Log in</a>
            </nav>
        </div>
        
        <div class="body">
            <h2>Sign Up</h2>
            {{if .Error}}
            <div class="error"><strong>Error:</strong> {{.Error}}</div>
            {{end}}
            
            <form action="/api/register" method="POST">
                <dl>
                    <dt>Username:</dt>
                    <dd><input type="text" name="username" size="30" value="{{.Username}}" required></dd>
                    <dt>E-Mail:</dt>
                    <dd><input type="email" name="email" size="30" value="{{.Email}}" required></dd>
                    <dt>Password:</dt>
                    <dd><input type="password" name="password" size="30" required></dd>
                    <dt>Password <small>(repeat)</small>:</dt>
                    <dd><input type="password" name="password2" size="30" required></dd>
                </dl>
                <div class="actions">
                    <input type="submit" value="Sign Up">
                </div>
            </form>
        </div>
        
        <div class="footer">
            <span>¿Who Knows? &copy; 2009</span>
            <a href="/about">About</a>
        </div>
    </div>
</body>
</html>