/* Simple table styling */
table {
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #999;
    margin: 20px auto;
}

table td, table th {
    border: 1px solid #999;
    padding: 10px;
}

table th {
    background-color: #ddd;
}

table.forecast-table td,
table.forecast-table th {
    padding: 8px;
}

table td[rowspan] {
    text-align: center;
}

#loading {
    text-align: center;
    margin: 20px;
}

h3 {
    text-align: center;
}
